{% extends 'base.html' %} {%load static%}{% block title%}
<title>Change Password|PreCodes</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock title%} {% block content %}

<div class="container mt-3">
  <form action="{%url 'change_password'%}" class="myform1" method="POST">
    <h3 style="text-align: center" class="text-info">Change Password</h3>
    {%csrf_token%} {%if form.errors%}
    <p>Your form has errors</p>
    {%endif%} {{form.as_p}}
    <input class="btn" type="submit" value="Change password" />
  </form>
</div>

{% endblock content %}
